@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #29a4ff;
  --black: #000000;
  --blackblue: #38527f;
  --white: #ffffff;
  --transition: all 0.25s ease-in-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* menu */
.menu-bar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.menu-bar .title-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.menu-bar .title-logo img {
  width: 2rem;
}
.menu-bar .donate {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--black);
  color: var(--white);
  padding: 0 1rem;
  transition: var(--transition);
  cursor: pointer;
  border: 0.1rem solid var(--black);
}
.menu-bar .donate:hover{
  background-color: var(--white);
  color: var(--black);
}
/* content */
.main {
  padding: 1rem;
}
.main .content {
  background-color: red;
  border-radius: 1rem;
  padding: 1rem;
}
